/* ----- SETUP ----- */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* ----- HEADER ELEMENTS ----- */

header {
  max-width: 940px;
}

.logo {
  max-width: 60px;
  max-height: 60px;
}

.site-name {
  text-align: center;
}

.intro-message {
  margin-top: 3vh;
  margin-bottom: 3vh;
}

/* ----- MAIN ----- */

.container-fluid {
  max-width: 940px;
}

.intro-message {
  max-width: 940px;
  padding: 5px;
}

/* Weather-cards */

.weather-cards {
  border: solid 5px #afd3df;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 #afd3df, 0 6px 20px 0 #afd3df;
  text-align: center;
}

.weather-icon {
  max-width: 100%;
}

/* Today buttons-and-click-message-container */

.buttons-and-click-message-container {
  padding-top: 10px;
}

.today-buttons {
  text-align: center;
  border: solid 1px #afd3df;
  border-radius: 5px;
  cursor: pointer;
}

.today-buttons i {
  font-size: 32px;
}

/* Click to learn arrow/message */

.learn-arrow-container {
  max-width: 100px;
  padding-right: 50px;

}

.learn-arrow-img {
  max-width: 100%;

}

.rotate-30deg {
  transform: rotate(-30deg);
}

/* ----- FOOTER -----  */

footer {
  margin-top: 5vh;
  border-top: solid 3px #c0e9f7;
  background-color: #c0e9f7; 

}

.footer-links-container {
  padding: 2rem 0;
}

.feedback-link-container h6 {
  margin: 0;
  border: solid 1px rgba(27, 137, 180, 0.5);
  border-radius: 10px;
  color: rgba(27, 137, 180);
  padding: 0.2rem 0.6rem;
}

.social-container {
  margin: auto;
}

.social-container ul {
  margin: 0;
}


.social-container li {
  font-size: 1.2rem;
  margin: 0;
}

.social-container a {
  color: rgb(27, 137, 180);
  text-decoration: none;
}

.list-inline-item:not(:last-child) {
  margin-right: 0;
}

/* ----- SECOND VIEW -----  */

/* Cross icon */

.cross-icon {
  padding: 0;
}

.cross-icon-container {
  padding: 12px 12px 0 12px;
}

/* Audio message  */

.audio-message-container {
  margin: 0;
  min-height: 150px;
  padding-left: 6px;
  border: solid 2px #afd3df;
  text-align: center;
}

.audio-message-container i {
  font-size: 2rem;
  color: rgba(27, 137, 180, 0.5);
  
}
/* Snippet  */

.snippet-container {
  margin: 1rem 0px;
  text-align: center;
  border: solid 2px #afd3df;
}

.snippet {
  padding: 2rem 1rem;
}

/* Back and learn more buttons */

.weather-and-audio-icons {
  padding-top: 12px;
}

.back-and-learn-btn-container {
  padding: 12px 0;

}

.learn-more-btn {
  min-height: 60px;
}

/* Go back button */

.go-back-btn {
  text-align: center;
  border: solid 1px #afd3df;
  border-radius: 5px;
  cursor: pointer;
}

.go-back-btn i {
  font-size: 32px;
}

/* Learn More button */

.learn-more-btn {
  text-align: center;
  border: solid 1px #afd3df;
  border-radius: 5px;
  cursor: pointer;
}


