*,
*::after,
*::before {
  box-sizing: border-box;

}

/* Header elements */
header {
  max-width: 940px;
}

.logo {
  max-width: 60px;
  max-height: 60px;
}

.site-name {
  text-align: center;
}

/*  */

/* Main elements */
.intro-message {
  max-width: 940px;
  padding: 5px;
}