*,
*::after,
*::before {
  box-sizing: border-box;

}

/* Header elements */
header {
  max-width: 940px;
}

.logo {
  max-width: 60px;
  max-height: 60px;
}

.site-name {
  text-align: center;
}

/*  */

/* Main elements */
.intro-message {
  max-width: 940px;
  padding: 5px;
}

.container-fluid {
  max-width: 940px;
}

.weather-cards {
  border: solid 1px #6b6b6b;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.weather-icon {
  max-width: 100%;
}